<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Luciano Marinho" />
		<meta name="keywords" content="luciano, marinho, html5, css3, mobile first, responsive" />
		<meta name="author" content="Luciano Marinho" />
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<!-- Google Webfonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>

		<title>{% if page_title is defined %} {{ page_title }} - {% endif %}Luciano Marinho</title>

	{% block stylesheets %}
		<!-- Animate.css -->
		<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
		<!-- Magnific Popup -->
		<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
		<!-- Theme Style -->
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<!-- Modernizr JS -->
		<script src="js/modernizr-2.6.2.min.js"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="{{ asset('js/respond.min.js') }}"></script>
		<![endif]-->
	{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<header role="banner" id="lma-header" style="background-image: url({{ asset('images/linux-world.jpg')}});" data-stellar-background-ratio="0.5">
			<div class="lma-overlay"></div>
			<div class="container">
				<div class="lma-intro-wrap">
					<div class="lma-intro">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<h1 class="lma-intro-lead animate-1 to-animate"><a href="/">Luciano Marinho</a></h1>
								<h2 class="lma-intro-sub animate-2 to-animate">Seja vem vindo ao meu site.</h2>
								<p class="lma-social text-center" id="lma-intro-social">
									<a href="https://www.facebook.com/nickmarinho" target="_blank" class="to-animate"><i class="icon-facebook-with-circle"></i></a>
									<a href="https://twitter.com/nickmarinho" target="_blank" class="to-animate"><i class="icon-twitter-with-circle"></i></a>
									<a href="https://www.youtube.com/lucianogameroficial/" target="_blank" class="to-animate"><i class="icon-youtube-with-circle"></i></a>
									<a href="https://plus.google.com/+LucianoMarinho" target="_blank" class="to-animate"><i class="icon-google-with-circle"></i></a>
									<a href="https://www.instagram.com/nick_marinho/" target="_blank" class="to-animate"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<main role="main" id="lma-main">
		{% block body %}{% endblock %}
		</main>

		<footer role="contentinfo" id="lma-footer">
			<div class="container" id="footer-animate">
				<div class="row row-padded">
					<div class="col-md-12">
						<p class="to-animate" style="text-align: center">&copy; 2016 - Luciano Marinho - All Rights Reserved.</p>
						<p class="to-animate" style="text-align: center">Powered by <a href="https://symfony.com/" target="_blank">Symfony</a></p>
					</div>
				</div>
			</div>
			<!-- END .container -->
		</footer>

	{% block javascripts %}
		<!-- jQuery -->
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<!-- jQuery Easing -->
		<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
		<!-- Bootstrap -->
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<!-- Waypoints -->
		<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
		<!-- Stellar -->
		<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
		<!-- countTo -->
		<script src="{{ asset('js/jquery.countTo.js') }}"></script>
		<!-- Magnific Popup -->
		<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
		<!-- Main JS -->
		<script src="{{ asset('js/main.js') }}"></script>
	{% endblock %}

	
	</body>
</html>
